{% extends 'base.html' %}{% block title %}Feedback{% endblock %} {% block
content %}

<h1 class="card-title m-4">Feedback</h1>
<ul class="m-3">
  {% for c in feedback %}
  <li>
    <h4 class="text-secondary">{{c.title}}</h4>
    <div class="row">
      <h2 class="">{{c.content}}</h2>
      {%if c.user.username == username %}
      <span class="ml-3"
        ><a href="/feedback/{{c.id}}/edit">Edit</a> -
        <a href="/feedback/{{c.id}}/delete">Delete</a>
      </span>
      {%endif%}
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}
